.dashboard-main-cont {
  // height: 100vh;
  // width: 100vw;
  display: flex;
  // background-color: red;
  flex-direction: column;
}

.link-tag {
  text-decoration: none;
}

//Header css

.header-main-cont {
  height: 70px;
  width: 100%;
  background-color: white;
  display: flex;
}

.header-logo-cont {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: green;
}
.header-navlinks-cont {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  min-width: 400px;
}
.header-logo-horizontal {
  width: 40%;
  min-width: 180px;
}

.header-profile-cont {
  flex: 1;
  justify-content: center;
  display: flex;
}
.profile-dropdown-cont {
  // flex: 1;
  // background-color: red;
  display: flex;
  // height: 50px;
  display: flex;
  cursor: pointer;
  gap: 10px;
  max-width: 250px;
}
.down-arrow {
  width: 10px;
  height: 10px;
}
.profile-welcome-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-img-tag {
  width: 30%;
  object-fit: contain;
}
.welcome-name-tag {
  font-weight: 600;
}
.header-profile-div {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 300px;
}
.nav-links {
  // font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;
  color: #5c5b5b;
  cursor: pointer;
}
.nav-links-active {
  color: #1f194c;
  text-decoration: underline #fecf34;
  text-underline-offset: 10px;
}
.search-icon {
  width: 10%;
  object-fit: contain;
  cursor: pointer;
}
.bell-icon {
  width: 80%;
  object-fit: contain;
  cursor: pointer;
}

.bellIcon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.notification-dot {
  width: 10px;
  height: 10px;
  top: 20px;
  left: 30px;
  position: absolute;
  border-radius: 50%;
  background: #fecf34;
}

//backgoundDesign css

.bg-main-cont {
  height: 100%;
  z-index: -100;
  width: 100%;
  position: absolute;
  display: flex;
  background-color: #1f194c;
  flex-direction: column;
}

.blue-bg-div {
  flex: 1.5;
}

.white-bg-div {
  flex: 2;
  background-color: #e5e5e5;
}

//NewJobs css

.new-jobs-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  width: 55%;
  max-height: 430px;
  border-radius: 20px;
  padding: 2%;
  flex-direction: column;
}
.newjob-company-logo {
  width: 7%;
}
.new-jobs-head {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.new-jobs-cards-cont {
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  // padding: 4%;
}

// JobCard css

.job-card-cont {
  // padding-top: 15px;
  padding: 3%;
  height: 90px;
  // flex: 1;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  // width: 50%;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.new-job-company-description {
  flex: 1;
  // height: 100%;
  // background-color: #1F194C;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 1% 5%;
}
.new-job-company-desc-div {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.new-job-time-of-upload {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  gap: 10px;
  // flex: 1;

  width: 100%;
}
.new-job-time-of-upload > span {
  font-size: 14px;
}
.new-job-company-extra-detail {
  flex: 1;
  // background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.new-job-company-heading {
  font-weight: 600;
  font-size: 16px;
}
.new-job-company-post {
  text-align: start;
  font-size: 14px;
}
.dot {
  background-color: #5c5b5b;
  width: 10px;
  border-radius: 50%;
  height: 10px;
}

.new-job-company-extra-detail > span {
  font-size: 14px;
}

.new-job-view-deatil-tag {
  color: #3b6fb1;
  cursor: pointer;
  font-size: 14px;
}

.dashboard-header {
  color: white;
  font-size: 20px;
}
.dashboard-first-section {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  gap: 5%;
}

.dashboard-section-cont {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 2% 4%;
  gap: 30px;
}

//Notification css

.notification-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  // width: 45%;
  border-radius: 20px;
  max-height: 430px;

  padding: 2%;
  flex-direction: column;
}

.notification-card-main-cont {
  // flex: 1;
  // background-color: red;
  // width: 80%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  height: 70px;
  display: flex;
  gap: 30px;
  cursor: pointer;
  align-items: center;
}

.notification-card-main-cont:hover {
  background: #d9d9d9;
}

.new-notification-cards-cont {
  flex-direction: column;
  gap: 2px;
  display: flex;
  // overflow-y: scroll;

  align-items: flex-start;
  // justify-content: flex-start;
  padding-top: 20px;
}

//Todo css

.todo-main-cont {
  display: flex;
  // background-color: white;
  background: #fcfcfc;
  width: 45%;
  border-radius: 20px;
  max-height: 430px;

  padding: 2%;
  flex-direction: column;
}

.todo-sub-heading {
  color: #909090;
  font-size: 18px;
}

.todo-card-main-cont {
  // padding-bottom: 10px;
  // border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
  height: 70px;
  display: flex;
  gap: 30px;

  align-items: center;
  cursor: pointer;
}

.todo-card-main-cont:hover {
  background: #d9d9d9;
}
.todo-card-main-cont:hover .square {
  background: white;
}
.square {
  width: 36px;
  height: 36px;
  background: #d9d9d9;
  border-radius: 10px;
}

.todo-card-task-head {
  color: #000000;
}

.todo-task-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-cards-cont {
  flex-direction: column;
  gap: 20px;
  display: flex;
  // align-items: center;
  padding-top: 20px;
}

.todo-cars-task-hint {
  color: #909090;
}

.vertical-line {
  height: 80%;
  background: #1f194c;
  width: 7px;
  border-radius: 20px;
}
