.main-jobs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 55px;
    padding: 0 10px;
}

.no-job-img{
    width: 60%;
}
.w-30 {
    width: 25%;
}
.jobs-profile-descr{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3;
   -webkit-box-orient: vertical;
}
.w-35 {
    width: 50%;
}

.h-100 {
    height: 100px;
}

@media screen and (max-width : 900px) {
    .w-30 {
        display: none !important;
    }

    .w-35 {
        width: 100%;
    }
}

.todo-main-cont::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(175, 175, 175, 0.5019607843);
    border-radius: 5px;
  }

  .saved-jobs-cont::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(175, 175, 175, 0.5019607843);
    border-radius: 5px;
  }

  .job-post-cover-img{
    height: 50vh;
}
  @media only screen and (max-width: 850px) and (orientation:landscape) {
    .job-post-cover-img{
        height: 100vh;
    }
    .no-job-img{
        width: 20%;
    }
}